<header class="border-bottom">
  <div class="container py-3 d-flex flex-wrap justify-content-between">
    <a
      href="/"
    >
    <img src="/images/esatic-logo.png" alt="Logo esatic" class="" width="120px" />
    </a>
  </div>
  <nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item">
          <a href="/" class="nav-link link-dark px-2">Accueil</a>
        </li>
        <li class="nav-item">
          <a href="/courses/create" class="nav-link link-dark px-2">Saisie des cours</a>
        </li>
        <li class="nav-item">
          <a href="/courses" class="nav-link link-dark px-2">Etat de vacation</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark px-2">Maquette</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link link-dark px-2">Evaluation</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link link-dark px-2">Soutenance</a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a href="/login" class="btn btn-primary">Connexion</a>
        </li>
    </div>
  </nav>
</header>
